.simple-checkbox {
  $size:16px;
  $gap:4px;
  $spriteUrl:url(../image/checkbox.png);
  $map: (
    normal:1,
    hover:2,
    pressed:3,
    checked:4,
    checked-hover:5,
    checked-pressed:6,
    disabled:7
  );

  width:$size;
  height:$size;
  background-image: $spriteUrl;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 0 0;

  &.hover{
    background-position: 0 (-($size+$gap)*(map-get($map,"hover")-1) );
  }

  &.pressed{
    background-position: 0 (-($size+$gap)*(map-get($map,"pressed")-1) );
  }

  &.checked{
    background-position: 0 (-($size+$gap)*(map-get($map,"checked")-1) );
  }

  &.checked.hover{
    background-position: 0 (-($size+$gap)*(map-get($map,"checked-hover")-1) );
  }

  &.checked.pressed{
    background-position: 0 (-($size+$gap)*(map-get($map,"checked-pressed")-1) );
  }

  &.disabled{
    background-position: 0 (-($size+$gap)*(map-get($map,"disabled")-1) );
  }


}
