$size: 16px;
$border-color: #5a5a5a;
$checked-color: #3eb438;
$tick-color: #eaeaea;
$hover-color: #efefef;
$disabled-color: #e1e1e1;

.simple-checkbox {
  display: inline-block;
  font-size: $size;
  width: $size;
  height: $size;

}

.checkbox-container  {
  font-size: inherit;
  width: inherit;
  height: inherit;
  cursor: pointer;
  border: 0.10em solid $border-color;
  border-radius: 25%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  .hover & {
    background-color: $hover-color;
  }

  .disabled & {
    background-color: $disabled-color;
    cursor: no-drop;
  }

  .checked & {
    background-color: $checked-color;
    border-color: $checked-color;
  }
}
.checkbox-tick {
  display: block;
  visibility: hidden;
  font-size: 0.85em;
  position: relative;
  height: 100%;
  width: 100%;
  .checked & {
    visibility: visible;
    color: $tick-color;
  }
}
.checkbox-input {
  display: none;
}

.checkbox-ripple {
  z-index: -1;
  top: -100%;
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  position: relative;
  border-radius: 50%;

  transition: transform 0.3s,  background-color 0.3s;

  .animation-start & {
    transform: scale(2.5, 2.5);
    background-color: #d0d0d0;
  }

  .animation-checked-start & {
    transform: scale(2.5, 2.5);
    background-color: #2bbd00;
  }

  .animation-end & {
    background-color: #ffffff;
  }
}

