.simple-checkbox {
  display: inline-block;
  width: 18px;
  height: 18px;
  position: relative;
  vertical-align: middle;
}
.simple-checkbox .checkbox-input {
  display: none;
}
.simple-checkbox .checkbox-container {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-color: #CCCCCC !important;
  border-radius: 20%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: background 300ms, border 300ms;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.simple-checkbox .checkbox-container .checkbox-tick {
  display: block;
  visibility: hidden;
  position: absolute;
  width: inherit;
  height: inherit;
  border-color: #FFFFFF !important;
}
.simple-checkbox.hover .checkbox-container {
  background-color: #EFEFEF;
}
.simple-checkbox.disabled .checkbox-container {
  background-color: #EFEFEF;
  border: none !important;
  cursor: default;
}
.simple-checkbox.checked .checkbox-container {
  background-color: #2FB536;
  border: none !important;
}
.simple-checkbox.checked .checkbox-container .checkbox-tick {
  visibility: visible;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 10.5%;
  left: 33.5%;
  width: 20%;
  height: 55%;
}
.simple-checkbox.disabled.checked .checkbox-container {
  border: none !important;
  background-color: #EFEFEF;
  cursor: default;
}
.simple-checkbox.circle .checkbox-container {
  border-radius: 50%;
}
.simple-checkbox.circle .checkbox-container .checkbox-tick {
  -webkit-transform: rotate(45deg) scale(0.8);
  transform: rotate(45deg) scale(0.8);
  top: 15%;
}
.simple-checkbox .checkbox-ripple {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: #000000;
  transition: opacity 700ms, transform 700ms;
  -webkit-transition: opacity 700ms, -webkit-transform 700ms;
  opacity: 0.4;
  transform: scale(0.6, 0.6);
  -webkit-transform: scale(0.6, 0.6);
}
.simple-checkbox .checkbox-ripple.transition {
  transform: scale(2.5, 2.5);
  -webkit-transform: scale(2.5, 2.5);
  opacity: 0;
}
