.simple-checkbox {
  display: inline-block;
  font-size: 16px;
  width: 16px;
  height: 16px;
}

.checkbox-container {
  font-size: inherit;
  width: inherit;
  height: inherit;
  cursor: pointer;
  border: 0.1em solid #5a5a5a;
  border-radius: 25%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.hover .checkbox-container {
  background-color: #efefef;
}
.disabled .checkbox-container {
  background-color: #e1e1e1;
  cursor: no-drop;
}
.checked .checkbox-container {
  background-color: #3eb438;
  border-color: #3eb438;
}

.checkbox-tick {
  display: block;
  visibility: hidden;
  font-size: 0.85em;
  position: relative;
  height: 100%;
  width: 100%;
}
.checked .checkbox-tick {
  visibility: visible;
  color: #eaeaea;
}

.checkbox-input {
  display: none;
}

.checkbox-ripple {
  z-index: -1;
  top: -100%;
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  position: relative;
  border-radius: 50%;
  transition: transform 0.3s,  background-color 0.3s;
}
.animation-start .checkbox-ripple {
  transform: scale(2.5, 2.5);
  background-color: #d0d0d0;
}
.animation-checked-start .checkbox-ripple {
  transform: scale(2.5, 2.5);
  background-color: #2bbd00;
}
.animation-end .checkbox-ripple {
  background-color: #ffffff;
}
