.simple-checkbox {
  width: 16px;
  height: 16px;
  background-image: url(../image/checkbox.png);
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.simple-checkbox.normal {
  background-position: 0px 0px;
}
.simple-checkbox.hover {
  background-position: 0px -20px;
}
.simple-checkbox.active {
  background-position: 0px -40px;
}
.simple-checkbox.checked {
  background-position: 0px -60px;
}
.simple-checkbox.checked-hover {
  background-position: 0px -80px;
}
.simple-checkbox.checked-active {
  background-position: 0px -100px;
}
.simple-checkbox.disable {
  background-position: 0px -120px;
}
