$size: 18px;
$border-color: rgba(0, 0, 0, 0.54);
$checked-color: rgba(43, 175, 43, 0.87);
$tick-color: #eeeeee;
$hover-color: #efefef;
$disabled-color: #e1e1e1;

.simple-checkbox {
  display: inline-block;
  font-size: $size;
  width: $size;
  height: $size;

}

.checkbox-container  {
  font-size: inherit;
  width: inherit;
  height: inherit;
  cursor: pointer;
  border: 0.12em solid;
  border-color: $border-color;
  border-radius: 0.12em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: 300ms;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  .hover & {
    background-color: $hover-color;
  }

  .disabled & {
    background-color: $disabled-color;
    cursor: no-drop;
  }

  .checked & {
    background-color: $checked-color;
    border:none;
  }
}

.checkbox-tick {
  display: block;
  visibility: hidden;
  font-size: 0.8em;
  position: absolute;
  width: inherit;
  height: inherit;
  .checked & {
    visibility: visible;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 5%;
    left: 32%;
    width: 25%;
    height: 60%;
    border-right: 0.18em solid $tick-color;
    border-bottom: 0.18em solid $tick-color;
    z-index: 3;
  }
}
.checkbox-input {
  display: none;
}

.checkbox-ripple {
  z-index: -1;
  display: block;
  height: 100%;
  width: 100%;
  top:-100%;
  opacity: 0.4;
  position: relative;
  border-radius: 50%;
  transition: transform 300ms,  background-color 300ms;
  .animation-start & {
    transform: scale(2.5, 2.5);
    background-color: #d0d0d0;
  }

  .animation-checked-start & {
    transform: scale(2.5, 2.5);
    background-color: $checked-color;
  }

  .animation-end & {
    background-color: #ffffff;
  }
}

